.container {
    margin: 15px;
}

.box-container {
    display: flex;
}

.left-container {
    flex: 75%;
}

.right-container {
    flex: 25%;
}

.primary-name {
    font-size: 18px;
    color: #0059bf;
}

.headline {
    font-size: 31px;
    color: #000000;
    font-weight: bold;
    padding-top: 20px;
}

.standfirst {
    font-size: 19px;
    color: #606669;
    padding-top: 20px;
}

.thumbnail {
    width: 316px;
    height: 237px;
}

.primary-name:hover, .headline:hover, .standfirst:hover, .thumbnail:hover {
    cursor: pointer;
  }